<header id="page-header">
    <div class="container-fluid">
        <div class="row pt-5 text-white">
            <div class="col-md-6 m-auto text-center ">
                <h1>Контактирајте не</h1>
                <p>Доколку имате било какви прашања , критики (позитивни и негативни) слободно можете да ни се обратите</p>
            </div>
        </div>
    </div>
</header>

@*<h1 class="text-center pt-5">Кoнтактирајте не </h1>
<p class="lead text-center">Доколку имате било какви прашања , критики (позитивни и негативни) слободно можете да ни се обратите</p>*@

<!-- CONTACT SECTION -->
<section id="contact" class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-4">
                    <div class="card-body">                        
                        <p>Тука сме за Вас.</p>
                        <h4>Адреса</h4>
                        <p>ул:"Незнамкоја" бб</p>
                        <h4>Eмаил:</h4>
                        <p>test@test.com</p>
                        <h4>Тел:</h4>
                        <p>(555) 555-5555</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card p-4">
                    <div class="card-body">
                        <h3 class="text-center">Ве молиме пополнете ја оваа форма</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Име">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Презиме">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Емаил">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Телефон">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Порака"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input value="Испрати" class="btn btn-outline-info btn-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- TEAM SECTION -->
<section id="team" class="py-5 text-center bg-light text-dark">
    <div class="container">
        <h1>Нашиот тим</h1>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/images/team/person1.jpg" alt="" class="img-fluid rounded-circle mb-2">
                <h4>Џејн До</h4>
                <small>Маркетинг менаџер</small>
            </div>
            <div class="col-md-3">
                <img src="~/Content/images/team/person2.jpg" alt="" class="img-fluid rounded-circle mb-2">
                <h4>Рената Каламатковска</h4>
                <small>Веб девелопер</small>
            </div>
            <div class="col-md-3">
                <img src="~/Content/images/team/person3.jpg" alt="" class="img-fluid rounded-circle mb-2">
                <h4>Ненад Каламатковски</h4>
                <small>Основач</small>
            </div>
            <div class="col-md-3">
                <img src="~/Content/images/team/person4.jpg" alt="" class="img-fluid rounded-circle mb-2">
                <h4>Џон До</h4>
                <small>Бизнис менаџер</small>
            </div>
        </div>
    </div>
</section>