@model IEnumerable<GiftiKlik.Models.VenueTypeVM>

<section class="text-muted ">
    <h3 class="pt-3 text-center">Одберете категорија</h3>
    <div class="container">
    
        <div class="col pt-3">
            <div class="pl-5 pr-3 row">
                @foreach (var item in Model)
        {
            <div id="venueType"onclick="GetSpecificCategory('@item.Type')" class="col-md-3 m-1 p-5 border border-primary rounded-circle bg-default ">
                <h4 class="text-uppercase font-weight-bold">@item.Type</h4>
            </div>
}

            </div>
            <div id="test" class="col-md-12">

            </div>
        </div>
        </div> 
</section>


<script>

     function GetSpecificCategory(category) {
        $.ajax({
            url: '@Url.Action("VenuesByCategory","Venues")' + '?category=' + category,
            type: "GET",
            success: function (response) {
                $("#test").html(response);
            }
        });
    }
</script>


